services:
  pet-todos:
    container_name: pet-todos
    build: .
    image: pet-todos:1.0.0
    ports:
      - "3007:3007"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - main-network

networks:
  main-network:
    external: true
